H1 {font-family:"Yu Gothic",'HiraKakuProN-W3';font-size: 165%;color:#4ce6eb;text-shadow: 2px 2px 1px rgb(63, 167, 164);letter-spacing:-0.02em;}
H2 {font-family:"Yu Gothic",'HiraKakuProN-W3';font-size: 140%; color:#22b0c9;text-shadow: 1px 1px 1px rgb(130, 137, 142) ;letter-spacing: 0.2em;
}
p {
line-height: 160%;
}
.byk{
 position:relative;left:27px;
}
.br{
  border: 15px dotted #8ff1ee;opacity: 0.7;padding-bottom: 10px;
}
.hyo{
   margin-bottom: 2em;
}
.hyo2{
   margin-bottom: 1em;
}
hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
hr {
border-top:10px dotted #f6b1ef ;opacity: 0.5;
margin-bottom: 1em;
}

*{font-family:sans-serif;
  color:#6cd44d;font-weight:bold;letter-spacing: 0.1em;font-size:101%;;text-shadow: 1px 1px 1px rgb(27, 23, 34)}

ul.yk li {
margin-bottom: 80px;
margin-right: 15%;
}
ul {
  list-style-type: none;
}
li.pn  {
display: inline;
}


.ig1{
  position:relative;
  top:10px;
  left:8px;
}
.ig2{
  position:relative;
  top:13px;
  left:3px;
}
.lg1{
  position:absolute;
  top:130px;
  left:12px;
}
.lg2{
  margin-top: 67px;
  margin-left: 18px;
}

p.mj:first-letter {
  font-size: 150%;
}
.md{
  font-size: 110% ;
}
.mdf{
  font-size: 125% ;
}
.ssf{
font-size: 92% ;
}
.msf{
font-size: 85% ;
}
.msfc{
font-size: 70% ;
}

.itx{
  font-size: 120% ;color:#abc127;
  text-shadow: 1px 1px 2px #272d1a
}
.ct{
text-align: center;
}
.mak{
  background: linear-gradient(transparent 70%, #66ccff 70%);
}
.lk{ text-decoration: none;outline: none;
}
a:link { color: #75ddd0;
 }
a:visited { color:#7093ee;
 }

a:hover { opacity: 0.5;
   }
.bn {
     position: fixed;
     bottom: 61px;
     right: 26px;
     opacity: 0.7;
     z-index: 20;
   }
.ftr {
  float: right;
   }
 .tct {
   line-height: 40px;
  }
  .sty{margin-bottom:30px;
  }
footer{
    background-color:#dd7cd9;
    height:40px;
    width:100%;
    bottom:0;
    opacity: 0.6;
    border-radius: 10px;
   }
